/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #FAF3DD;
    color: #131C2E;
    padding: 20px;
}

header h1 {
    text-align: center;
    color: #4A7C59;
    margin-bottom: 20px;
}

.page-title {
    text-align: center;
    color: #68B0AB;
    margin-bottom: 15px;
}

.user-list {
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
    padding: 0;
    background-color: #C3EAB2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-item {
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border-bottom: 1px solid #68B0AB;
    flex-wrap: wrap;
}

.user-item:last-child {
    border-bottom: none;
}

.user-name {
    font-weight: bold;
    color: #244040;
    flex: 1 1 30%;
}

.user-login {
    color: #396D6C;
    flex: 1 1 30%;
}

hr {
    margin: 20px 0;
    border: none;
    height: 2px;
    background-color: #68B0AB;
}

@media (max-width: 768px) {
    .user-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .user-name,
    .user-login {
        margin-bottom: 8px;
        font-size: 14px;
    }
}
