<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comunidades</title>
    <link rel="stylesheet" href="../static/pageditais.css">
</head>
<body>
<h1>Seja bem vindo</h1>

        <form action="/cadastrareditais" method="post">
            <label>Digite o nome do seu edital</label>
            <input type="text" name="nomeedital"> <br>
            <label>Digite o objetivo do edital</label>
            <textarea name="objetivo" id="objetivo" rows="8" cols="62" placeholder="Digite o objetivo aqui..."></textarea> <br>
            <input type="text" name="objetivo">  <br>
            <label>Digite o local </label>
            <input type="text" name="local"> <br>
            <br>
            <button type="submit">Enviar </button>

        </form>
</body>
</html>
