<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comunidades</title>
</head>
<body>
<h1>Seja bem vindo</h1>

        <form action="/cadastrareditais" method="post">
            <label>Digite o nome do seu edital</label>
            <input type="text" name="nomeedital"> <br>
            <label>Digite o objetivo do edital</label>
            <input type="text" name="objetivo"> <br>
            <label>Digite o local </label>
            <input type="text" name="local"> <br>
            <br>
            <button type="submit">Enviar </button>

        </form>




</body>
</html>