<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista dos Usuarios</title>
    <link rel="stylesheet" href="..//static//listausuarios.css">
</head>
<body>
    <header>
            <h1>Usuários do Sistema</h1>
    </header>
        <main>
        <h2 class="page-title">Lista de Usuários</h2>
            <ul class="user-list">
                {% for usuario in lista %}
                <li class="user-item">
                    <span class="user-name">{{usuario[0]}}</span>
                    <span class="user-login">{{usuario[1]}}</span>
                </li>
                {% endfor %}
            </ul>
        </main>
      <a href="/">Clique aqui para ir a pagina de login</a>
      <br>
      <a href="/cadastrareditais">Clique aqui para criar um Edital</a>
      <br>
      <a href="/listareditais">Clique aqui para ir a Lista de Editais</a>
</body>
</html>
