<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pagina Inicial</title>
  <link rel="stylesheet" href="..//static//lob.css">
</head>
<body>
  <div class="container">
    <h1>Conhecendo mais</h1>
    <hr>

    <h1>A relevância cultural e a resiliência das comunidades quilombolas dos Sítios Coati-Lagoa do Mato e Lagoa de Pedra,
      no município de Luís Gomes, RN</h1>
    <p>As comunidades quilombolas são exemplos de resistência, organização social e resiliência. Desde sua formação como
      refúgios para afrodescendentes fugidos da escravidão, enfrentaram adversidades como marginalização social
      e discriminação racial. Sua resistência vai além da sobrevivência, incluindo a preservação e transmissão
      de tradições culturais, apesar de pressões externas.</p>

    <p>A resiliência das comunidades se manifesta na adaptação às mudanças externas e na luta pelo
      reconhecimento de direitos territoriais, essenciais para a preservação de seus modos de vida
      e práticas culturais. Sua rica herança cultural, incluindo música, danças, culinária e práticas religiosas,
      contribui significativamente para a diversidade e riqueza cultural local e regional.</p>

    <p><strong>Objetivo</strong></p>

    <p>"Resgatar, preservar e promover a socialização das histórias e culturas das comunidades quilombolas
      de Coati e Lagoa do Mato e Lagoa de Pedra, localizados no município de Luis Gomes, Estado do Rio Grande do Norte,
      através da criação de página eletrônica para divulgação"</p>
    <hr>
      <a href="/listadeusuarios">Clique aqui para ir a Lista de Usuários</a>
      <br>
      <a href="/cadastrareditais">Clique aqui para criar um Edital</a>
      <br>
      <a href="/listareditais">Clique aqui para ir a Lista de Editais</a>

     <form action="/logout" method="post">
            <button type="submit">Sair</button>
        </form>
        <br>
        <a href="/logout">Sair</a>
  </div>

</body>
</html>
